* {
    box-sizing: border-box;
    font-family: 'Droid Serif', sans-serif;
}

.navbar-default {
    background-color: #F0F0F0;
    border: none;
    min-height: 50px;
}

.navbar-default .dropdown-menu {
    padding: 5px 0;
    border: none;
    background-color: #F0F0F0;
}

.navbar-default .dropdown-menu li {
    padding: 5px;
    position: relative;
}

.navbar-default .dropdown-menu li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .dropdown-menu li a:hover::before {
    visibility: visible;
    background-color: #31b0d5;
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
}

.navbar-default .navbar-nav li a {
    color: #000;
    font-weight: 600;
    transition: all 0.5s;
    text-align: center;
    background-color: #F0F0F0;
}

.navbar-default .navbar-nav li a:hover {
    color: #31b0d5;
}

.navbar-default .navbar-brand {
    color: #31b0d5;
    padding: 5px 15px;
}

.navbar-default .navbar-brand img {
    height: 45px;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:hover {
    background-color: #F0F0F0;
    border-color: #31b0d5;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #31b0d5;
}

.navbar-default .navbar-toggle:focus {
    background-color: #F0F0F0;
}

#header {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header/27285334-civil-engineering-wallpapers.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    margin: 0px;
}

#header #header-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header #header-cont h1,
    #header #header-cont h2 {
    color: #F0F0F0;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 30px;
}

#header #header-cont .btn-info {
    transition: all 0.5s;
    font-weight: 600;
}

#header #header-cont .btn-info:hover {
    color: #31b0d5;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}

#o-nas {
    padding: 30px;
    background-color: #F0F0F0;
    overflow: hidden;
}

#o-nas h3,
  #o-nas p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 20px 0px;
}

#o-nas .row {
    margin: 40px 0px;
    transition: all .7s;
    position: relative;
    left: 130%;
}

#o-nas .kolumna {
    text-align: center;
}

#o-nas .kolumna .fa {
    line-height: 40px;
    height: 40px;
    color: #31b0d5;
    font-size: 40px;
}

#o-nas .kolumna p,
    #o-nas .kolumna h4 {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-top: 0;
}

#o-nas .kolumna .img-cont {
    width: 90%;
    overflow: hidden;
    border: 10px solid white;
    height: 250px;
    margin-bottom: 20px;
}

#o-nas .kolumna .img-cont .img-photo {
    height: 100%;
    position: relative;
    transition: all .7s;
    background-position: center;
    background-size: cover;
}

#o-nas .kolumna .img-cont .img-photo:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#o-nas .kolumna .img-cont .img-photo .mask {
    height: 100%;
    opacity: 0.0;
    background-color: #31b0d5;
    transition: all .5s;
    transition-timing-function: ease;
}

#o-nas .kolumna .img-cont .img-photo .mask:hover {
    opacity: 0.9;
}

#o-nas .kolumna .img-cont .img-photo .mask:hover::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

#o-nas .kolumna .img-cont .img-photo .mask::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

#o-nas .kolumna .img-cont .img-photo .mask .mask-inner {
    position: absolute;
    opacity: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: linear;
    border: 3px solid #F0F0F0;
}

#o-nas .kolumna .img-cont .img-photo .mask .mask-inner p {
    opacity: inherit;
    text-align: center;
    margin: 0 10px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #F0F0F0;
}

#o-nas .kolumna .img-cont #photo1 {
    background-image: url("../img/slider/ploter1.JPG");
}

#o-nas .kolumna .img-cont #photo2 {
    background-image: url("../img/slider/laser1.jpg");
}

#o-nas .kolumna .img-cont #photo3 {
    background-image: url("../img/slider/frez_mala1.JPG");
}

#o-nas #summary {
    margin: 0;
}

#o-nas #summary .row {
    margin: 0;
}

#o-nas .slider-wrap {
    z-index: 10000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

#o-nas .slider-wrap #slider1 {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid white;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -mozilla-border-radius: 5px;
    border-radius: 5px;
    transition: all .5s;
}

#o-nas .slider-wrap #slider1 #exit-bar {
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 10;
    right: 0;
}

#o-nas .slider-wrap #slider1 #exit-bar .fa {
    color: black;
    font-size: 28px;
    right: 0;
}

#o-nas .slider-wrap #slider1 #exit-bar .fa:hover {
    cursor: pointer;
}

#o-nas .slider-wrap #slider1 img {
    max-height: 80vh;
}

#o-nas .slider-invisible {
    opacity: 0.0;
    display: none;
}

footer .fa {
    font-size: 30px;
    line-height: 30px;
    color: #31b0d5;
    margin: 10px;
    transition: all .5s;
    margin: 5px;
}

footer .fa:hover {
    cursor: pointer;
    color: black;
}

footer p {
    margin: 10px;
    line-height: 30px;
}
