* {
    box-sizing: border-box;
    font-family: 'Droid Serif', sans-serif;
}

.navbar-default {
    background-color: #F0F0F0;
    border: none;
    min-height: 50px;
}

.navbar-default .dropdown-menu {
    padding: 5px 0;
    border: none;
    background-color: #F0F0F0;
}

.navbar-default .dropdown-menu li {
    padding: 5px;
    position: relative;
}

.navbar-default .dropdown-menu li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .dropdown-menu li a:hover::before {
    visibility: visible;
    background-color: #31b0d5;
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
}

.navbar-default .navbar-nav li a {
    color: #000;
    font-weight: 600;
    transition: all 0.5s;
    text-align: center;
    background-color: #F0F0F0;
}

.navbar-default .navbar-nav li a:hover {
    color: #31b0d5;
}

.navbar-default .navbar-brand {
    color: #31b0d5;
    padding: 5px 15px;
}

.navbar-default .navbar-brand img {
    height: 45px;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:hover {
    background-color: #F0F0F0;
    border-color: #31b0d5;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #31b0d5;
}

.navbar-default .navbar-toggle:focus {
    background-color: #F0F0F0;
}

#header {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header/27285334-civil-engineering-wallpapers.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    margin: 0px;
}

#header #header-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header #header-cont h1,
    #header #header-cont h2 {
    color: #F0F0F0;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 30px;
}

#header #header-cont .btn-info {
    transition: all 0.5s;
    font-weight: 600;
}

#header #header-cont .btn-info:hover {
    color: #31b0d5;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}

* {
    box-sizing: border-box;
    font-family: 'Droid Serif', sans-serif;
}

#contact {
    padding: 30px;
    background-color: #F0F0F0;
    overflow: hidden;
}

#contact h3,
  #contact p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 20px 0px;
}

#contact .row {
    margin-bottom: 20px;
}

#contact #contact-data {
    text-align: center;
}

#contact #contact-data a,
    #contact #contact-data span {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

#contact #contact-data a {
    color: #31b0d5;
}

#contact #contact-data #social-media {
    margin-top: 15px;
}

#contact #contact-data #social-media a {
    padding: 5px;
}

#contact #contact-data #social-media .social-icon {
    font-size: 60px;
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    margin-bottom: 20px;
    transition: all 0.5s;
    border-radius: 10px;
}

#contact #contact-data #social-media .social-icon:hover {
    transform: rotate(360deg);
    background-color: #31b0d5;
}

#contact #contact-data #social-media .social-icon:hover .fa {
    color: #F0F0F0;
}

#contact #contact-data #social-media .social-icon .fa {
    color: #31b0d5;
}

#contact #contact-data #social-media .social-icon .fa:hover {
    color: #F0F0F0;
}

#contact #map {
    border: 5px solid white;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -mozilla-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
}

#contact #map iframe {
    width: 100%;
    height: 350px;
}

#contact form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #555;
}

#contact .btn-primary {
    font-family: "Montserrat", sans-serif;
    background-color: #31b0d5;
    border-color: #2a6aff;
    font-weight: 600;
}

#contact .alert-invisible {
    display: none;
}

#contact .alert-border {
    border: 2px solid red;
}

footer .fa {
    font-size: 30px;
    line-height: 30px;
    color: #31b0d5;
    margin: 10px;
    transition: all .5s;
    margin: 5px;
}

footer .fa:hover {
    cursor: pointer;
    color: black;
}

footer p {
    margin: 10px;
    line-height: 30px;
}
