//podpinamy plik ze zmiennymi
@import "variables";
@import "mixins";

footer {
    .fa {
        font-size: 30px;
        line-height: 30px;
        color: $color-blue-dark;
        margin: 10px;
        transition: all .5s;
        margin: 5px;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
    p {
        margin: 10px;
        line-height: 30px;
    }
}
