// zestaw atrybutow ktorego chcemy uzywac w wieu miejscach
@mixin center-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin section {
    padding: 30px;
    background-color: $color-white-light;
    overflow: hidden;
    h3,
    p {
        font-family: $font-sections;
        text-align: center;
        margin: 20px 0px;
    }
}

@mixin sub-section {
    padding: 40px 20px;
    background-color: $color-white-light;
    overflow: hidden;
    h4,
    p {
        font-family: $font-sections;
        text-align: center;
        margin-bottom: 10px;
    }
}

// mixin z uzyciem zmiennych - parametrów
@mixin border-radius($radius) {
    -o-border-radius: $radius;
    -webkit-border-radius: $radius;
    -mozilla-border-radius: $radius;
    border-radius: $radius;
}

@mixin invisible {
    display: none;
    opacity: 0.0;
}

@mixin list {
    list-style-type: none;
    list-style: none;
    font-family: $font-sections;
    margin-bottom: 10px;
    &::before {
        font-family: 'FontAwesome';
        content: '\f013';
        margin-right: 15px;
    }
}
