// deklarujemy zmienne 
$color-white-light: #F0F0F0;
$color-blue-dark: #31b0d5;
$color-black: #000;
$color-grey-dark: #555;
$color-blue-light: #2a6aff;

$font-big: 36px;

$font-bold: 600;

$font-sections: 'Montserrat', sans-serif;
$font-add: 'Roboto Slab', sans-serif;
